/* app css stylesheet */

body {
  color: #5a5a5a;
  margin: 0 auto; 
  font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
}


#header {
  margin: 0 auto;
  /*height:667px;*/
  /*background: url(http://dofa.u.qiniudn.com/images/background/the_fallen_desktop_1600.jpg);*/
}

#navbar {
  /*position:relative;*/
  margin: 0 auto;
  float: none;
  background-color: #333;
}


#navbar .container {
  background-color: #333;
}

.myview {
  height:50px;
  margin: 0 auto;
  height: 440px;
}

.myview.homeview {
  background: url(http://dofa.u.qiniudn.com/images/background/the_fallen_desktop_1600.jpg);
}

.myview.aboutview {
  background: url(http://dofa.u.qiniudn.com/images/background/the_fallen_desktop_1600.jpg);
}

/*.viewtop {
  float: left;
  height: 200px;
  width: 1200px;
}

.viewleft {
  float: left;
  height: 200px;
  width: 100px;
}*/

.viewc {
  position: relative;
  top: 200px;
  left: 300px;
  margin: 0 auto;
}

.content {
  margin-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.content h1 {
  margin-bottom: 40px;
}

.content .col-lg-4 {
  margin-bottom: 20px;
}

.content .col-lg-3 {
  margin-bottom: 20px;
}

.content h2 {
  font-weight: normal;
}


.footer {
  border-top:20px solid white;
  bottom:0;
  left:0;
  right:0;
  z-index:100;
  padding-top: 2em;
  background-color: #333;
  color: white;
  padding-bottom: 2em;
}

.footer button {
  background-color: #333;
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border-radius: 50px; 
} 