
<div class="row">
  <div class="col-sm-6 col-md-4 col-sm-offset-3">
    <div class="thumbnail">
      <div class="caption">
      	<h3>关于站点</h3>
		<dl class="dl-horizontal">
		    <dt>站名</dt><dd>Do Far</dd>
		    <dt>描述</dt><dd>There is a will, there is a way.</dd>
		    <dt>偏重</dt><dd>通信、网络、设计、开发</dd>
		</dl>
      </div>
    </div>
  </div>
</div> 

<div class="row">  
  <div class="col-sm-6 col-md-4 col-sm-offset-3">
    <div class="thumbnail">
      <div class="caption">
		<h3>关于我</h3>
		<dl class="dl-horizontal">
		    <dt>昵称</dt><dd>潮汐猎人</dd>
		    <dt>E名</dt><dd>arthur</dd>
		    <dt>Gmail</dt><dd><a href="&#109;&#97;&#105;&#108;&#x74;&#x6f;&#x3a;&#x62;&#105;&#116;&#x62;&#x65;&#x67;&#x69;&#110;&#64;&#x67;&#x6d;&#x61;&#x69;&#108;&#x2e;&#99;&#x6f;&#x6d;">&#98;&#x69;&#x74;&#98;&#101;&#x67;&#105;&#110;&#x40;&#103;&#x6d;&#97;&#105;&#x6c;&#46;&#99;&#111;&#x6d;</a></dd>
		    <dt>QQ</dt><dd>516199859</dd>
		    <dt>爱好</dt><dd>Internet、Ebedded and etc</dd>
		</dl>
      </div>
    </div>
  </div>  
</div>