
<div class="myview homeview">
  <div class="viewtop"></div>
  <div class="viewleft"></div>
  <div class="viewc">
    <h1>{{heading1}}</h1>
    <ul>
      <li><h3>{{heading2}}</h3></li>
      <li><h3>{{heading3}}</h3></li>
    </ul> 
  </div>
</div>


<!-- Three columns of text below the carousel -->
<div class="row content">
  <h1><span>{{heading4}}</span></h1>
  <div ng-repeat="item in items">
    <div class="col-lg-4">
      <img ng-src="{{item.image}}" alt="{{item.alt}}">
      <h2>{{item.heading}}</h2>
      {{item.content}}<br>
      {{item.content2}}
    </div>
  </div>
</div> 

